@page
@using Group_Project.Utility
@using Group_Project.Data.Repository.IRepository;

@model Group_Project.Pages.LoggedInHomePageModel
@inject IUnitOfWork _unitOfWork

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var Usr = _unitOfWork.User.Get(0);

}

<h1>Dashboard</h1>

<div class="row">
    
    @foreach (var item in Model.Course)
    {

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a class="text-xs font-weight-bold text-primary text-uppercase mb-1" href="/Course/CourseDetails?id=@Html.DisplayFor(modelItem => item.ID)">@Html.DisplayFor(modelItem => item.CourseName)</a>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Course Number: @Html.DisplayFor(modelItem => item.CourseNumber)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Instructor ID: @Html.DisplayFor(modelItem => item.InstructorID)</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

    <div class="row">
        @if (Model.User.UserType == 'S')
        {
        <!-- ToDo List -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Todo List</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>


                <!-- ToDo List -->
                <div class="card-body">
                    <div class="chart-area">
                        <ul>
                            @foreach (var item in Model.Assignment)
                            {
                                <li>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="/assignments/assignmentHome?id=@Html.DisplayFor(modelItem => item.ID)">@Html.DisplayFor(modelItem => item.Title): @Html.DisplayFor(modelItem => item.DueDate)</a></div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        }


    </div>


