@using Group_Project.Utility
@using Group_Project.Data.Repository.IRepository;
@using Group_Project.Models; 

@inject IUnitOfWork _unitOfWork

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@*@model Group_Project.Pages.Shared._LayoutPageModel
@inject IUnitOfWork _unitOfWork*@

@{
    var Usr = _unitOfWork.User.Get(0);
}
@if (HttpContextAccessor.HttpContext.Session.GetInt32(SD.UserSessionId) != null)
{
    var id = Context.Session.GetInt32(SD.UserSessionId);
    if (id.HasValue)
    {
        Usr = _unitOfWork.User.Get(id.Value);
    }
}
 @{ 
     var notifications = new List<Notification>();

     var courses = new List<Course>();
     var assignments = new List<Assignment>();

     if(Usr != null && Usr.ID > 0)
     {
         if(Usr.UserType == 'S')
         {
             var submissions = _unitOfWork.Submission.GetAll(x => x.UserId == Usr.ID);
             foreach (var submission in submissions)
             {
                 notifications.AddRange(_unitOfWork.Notification.GetAll(x => x.sourceID == submission.AssignmentId));
             }
             var registrations = _unitOfWork.Registration.GetAll(x => x.StudentID == Usr.ID);
             foreach(var registration in registrations)
             {
                 courses.AddRange(_unitOfWork.Course.GetAll(x => x.ID == registration.CourseID));
             }
             foreach(var course in courses)
             {
                 assignments.AddRange(_unitOfWork.Assignment.GetAll(x => x.CourseID == course.ID));
             }
             foreach(var assignment in assignments)
             {
                 notifications.AddRange(_unitOfWork.Notification.GetAll(x => x.sourceID == assignment.ID));
             }
         }


     }

 }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Group_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Add the evo-calendar.css for styling -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/css/evo-calendar.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-blue border-bottom box-shadow mb-3">
                <div class="container">
                    @if (Usr == null)
                    {
        <a class="navbar-brand" asp-area="" asp-page="/Index">Group_Project</a>}
                    @if (Usr != null)
                    {
        <a class="navbar-brand" asp-area="" asp-page="/LoggedInHomePage">Group_Project</a>}
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            @if (Usr == null)
                            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                </li>
}
                            @if (Usr != null)
                            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/LoggedInHomePage">Home</a>
                </li>
}
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Calendar">Calendar</a>
                            </li>

                            @if (Usr == null)
                            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Login">Login</a>
                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Signup">Sign Up</a>
                                </li>
}
                            @if (Usr != null && Usr.UserType == 'S')
                            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Registration/Index">Registration</a>
                </li>
}
                            @if (Usr != null && Usr.UserType == 'I')
                            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Course/CreateCourse">Create Course</a>
                </li>
}

                            <li>
                                <!-- Search bar -->
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small fa-align-right" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                            @if (Usr != null)
                            {

                <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                    </a>
                    <!-- Dropdown - Messages -->
                    <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
 <!-- Nav Item - Notifications -->

                                <li id="NotificationsCenter" class="nav-item dropdown no-arrow mx-1">
                                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-bell fa-fw"></i>
                                        <!-- Counter - Notifications -->
                                        <span class="badge badge-danger badge-counter">3+</span>
                                    </a>
                                    <!-- Dropdown - Notifications -->
                                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                        <h6 class="dropdown-header">
                                            Notification Center
                                        </h6>
                                        @foreach (var item in notifications)
                                        {
                        <a class="dropdown-item d-flex align-items-center" href="#" onclick="DeleteNotification(@item.ID)">
                            <div class="mr-3">
                                <div class="icon-circle bg-primary">
                                    <i class="fas fa-file-alt text-white"></i>
                                </div>
                            </div>
                            <div>
                                <span class="font-weight-bold">@item.Message</span>
                            </div>
                        </a>}
                                    </div>
                                </li>
 <!-- Nav Item - Messages -->
                                                <li class="nav-item dropdown no-arrow mx-1">
                                                    <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-envelope fa-fw"></i>
                                                        <!-- Counter - Messages -->
                                                        <span class="badge badge-danger badge-counter">7</span>
                                                    </a>
                                                    <!-- Dropdown - Messages -->
                                                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                                        <h6 class="dropdown-header">
                                                            Message Center
                                                        </h6>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <div class="dropdown-list-image mr-3">
                                                                <img class="rounded-circle" style="width: 50px; height: 50px;" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                                                                <div class="status-indicator bg-success"></div>
                                                            </div>
                                                            <div class="font-weight-bold">
                                                                <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                                                                <div class="small text-gray-500">Emily Fowler · 58m</div>
                                                            </div>
                                                        </a>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <div class="dropdown-list-image mr-3">
                                                                <img class="rounded-circle" style="width: 50px; height: 50px;" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                                                                <div class="status-indicator"></div>
                                                            </div>
                                                            <div>
                                                                <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                                                                <div class="small text-gray-500">Jae Chun · 1d</div>
                                                            </div>
                                                        </a>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <div class="dropdown-list-image mr-3">
                                                                <img class="rounded-circle" style="width: 50px; height: 50px;" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                                                                <div class="status-indicator bg-warning"></div>
                                                            </div>
                                                            <div>
                                                                <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                                                                <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                                            </div>
                                                        </a>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <div class="dropdown-list-image mr-3">
                                                                <img class="rounded-circle" style="width:50px;height:50px;" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                                                                <div class="status-indicator bg-success"></div>
                                                            </div>
                                                            <div>
                                                                <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                                                                <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                                            </div>
                                                        </a>
                                                        <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                                                    </div>
                                                </li>
 <!-- <div class="topbar-divider d-none d-sm-block"></div>--> <!-- Nav Item - User Information -->

                                                                <li class="nav-item dropdown no-arrow">

                                                                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                                                            @Usr.FullName
                                                                        </span>
                                                                        <img class="img-profile rounded-circle" style="width: 20px; height: 20px;" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                                                                    </a>

                                                                    <!-- Dropdown - User Information -->
                                                                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                                                        <a class="dropdown-item" href="/Profile">
                                                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                                                            Profile
                                                                        </a>
                                                                        @if (Usr != null && Usr.UserType == 'S')
                                                                        {
                                                        <a class="dropdown-item" href="/Billing">
                                                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                                            Billing
                                                        </a>}
                                                                        <a class="dropdown-item" href="#">
                                                                            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                                                            Activity Log
                                                                        </a>
                                                                        <div class="dropdown-divider"></div>
                                                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                                                            <i class="btn btn-primary" href="/Profile/Logout">Logout</i>
                                                                        </a>
                                                                    </div>
                                                                </li>
}

                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>


    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/Profile/Logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Group_Project - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/js/evo-calendar.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        //$(document).ready(function () {
        //    loadNotifications();
        //});
        function loadNotifications() {
            $.ajax({
                url: "api/Notifications", type: "get",
                contentType: 'application/json',
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    if (result.notifications) {
                        //$("#NotificationsCenter").html(body);
                    }
                }
            });
        }
        function DeleteNotification(id) {
            $.ajax({
                url: "api/Notifications/"+id, type: "Delete",
                contentType: 'application/json',
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    if (result.success == true) {
                        //loadNotifications();
                    }
                }
            });
        }
    </script>


    @RenderSection("Scripts", required: false)



</body>

</html>

