@page
@model Group_Project.Pages.Course.CourseDetailsModel

@{
    ViewData["Title"] = "CourseDetails";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>CourseDetails</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.InstructorID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.InstructorID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.CourseNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.CreditHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CreditHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Times")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.MaxStudents)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.MaxStudents)
        </dd>
    </dl>
</div>

<div>
    <a href="/Course/EditCourse?id=@Html.DisplayFor(model => model.Course.ID)">Edit Course</a> | <a href="/Assignments/AssignmentCreate?id=@Html.DisplayFor(model => model.Course.ID)">Create a new assignment</a>
</div>
