@page
@model Group_Project.Pages.Profile.IndexModel
@{
    if (Model.User == null){
        RedirectToPage("/Login");
        return;
    }
}


@{ ViewData["Title"] = "ProfileDetails";
                Layout = "~/Pages/Shared/_Layout.cshtml"; }

<h1>ProfileDetails</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Birthdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Birthdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.UserType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.AddressLine1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.AddressLine1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.AddressLine2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.AddressLine2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Zip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Zip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Bio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Bio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Link1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Link1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Link2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Link2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Link3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Link3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.ProfilePic)
        </dt>
        <dd class="col-sm-10">
            @if (Model.User != null)
            {
            <img src="@Model.User.ProfilePic" style="width:100%; border-radius:5px; border:1px solid #bbb9b9" />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
